<div class="container">


  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{ username }}!</h2>
    </div>
  </div>
  <a class="btn  btn-info" href="/dashboard/new">Add new post</a>



  {{#if posts.length}}
  <div class="">
    <h3>Current Posts:</h3>

    {{#each posts as |post|}}
    <div class="card mb-3 border-info">
      <div class="card-body">
        <h4 class="card-title mb-0"><a href="/post/{{id}}">{{title}}</a></h4>
        <p class="card-text">{{content}}</p>
        <p class="card-text"><small class="text-muted">{{format_date created_at}}</small></p>
        <div class="">
          <a href="/post/edit/{{id}}" id="updateBtn" class=" btn btn-sm btn-success" data-id="{{id}}">UPDATE</a>
          <button class="deleteBtn btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</div>
<script src="./js/dashboard.js"></script>