<h1>All posts</h1>
<div>
    {{#each posts as |post|}}
    <div class="card mb-3 border-info">
        <div class="card-body">
            <h5 class="card-title mb-0"><a href="/comment-routes/{{id}}">{{title}}</a></h5>
            <p class="card-text mb-2"><small class="text-muted">By {{user.name}}</small></p>
            <p class="card-text">{{content}}</p>
            <p class="card-text"><small class="text-muted">{{format_date created_at}}</small></p>
            {{#each post.comments as |comment| }}
            <p class="xs">{{ comment.body }}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}


</div>